* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

#app {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*********************
SCALE BASE FONT SIZE
*********************/ 
// Phablet and above
@include breakpoint(phablet) {
    html {
        font-size: 18px;
    }
    p {
        font-size: 120%;
    }
    h4 {
        font-size: 160%;
    }
    h3 {
        font-size: 200%;
    }
    h2 {
        font-size: 240%;
    }
    h1 {
        font-size: 280%;
    }
}

// Mobile specific
@include breakpoint(mobile) {
    html {
        font-size: 16px;
    }
    p {
        font-size: 120%;
    }
    h4 {
        font-size: 160%;
    }
    h3 {
        font-size: 200%;
    }
    h2 {
        font-size: 240%;
    }
    h1 {
        font-size: 280%;
    }
}
