/*********************
VARIABLES
*********************/

$red: #cc4e46;
$pale: #ede6dc;
$lightpale: #f2ece5;
$paleborder: #eee7dd;
$palefootertext: #d2d0c2;
$modulebackground: #d0cdc4;
$dark: #333; 
$background: (#01E3D8, #18A5DD, #2C5ED1, #6335BC);

$phablet: 600px;
$tablet: 800px;
$laptop: 1024px;
$desktop: 1120px;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobile {
      @media (max-width: 37.5em)  { @content ; }
 
   }
 }
 
/*********************
BREAKPOINTS BETWEEN
*********************/
@mixin phablet {
    @media (min-width: #{$phablet}) and (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$laptop - 1px}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) and (max-width: #{$desktop - 1px}) {
        @content;
    }
}
