.footer__footer {
    background-image: linear-gradient(to bottom right, $background);
    color: #FFF;
}

.footer__list {
    display: flex;
    list-style-type: none;
    .footer__list-item {
        padding: 16px 16px 0px 16px;
        vertical-align: text-top;
        a {
            text-decoration: none;
            color: #FFF;
        }
    }
}
