#landingpage {
    background-color: $background;
    // background: linear-gradient(#879DAE, #C4C4C2, #EAD1B3, #FEBA45);
    height: 100vh;
    width: 100vw;
}

.landingpage__section {
    display: flex;
}

.landingpage__headline {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.landingpage__content {
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
}

.landingpage__button--green {
    margin-top: 24px;
    padding: 8px;
    border: none;
    background-color: $background;
    border: 2px solid #FFF;
    border-radius: 3%;
    color: #FFF;
}

.landingpage__image--seattle {
    width: 25%;
}

// Default hide all --mobile > modifiers
.landingpage__button--mobile {
    display: none;
}

@include breakpoint(mobileonly) {
    .landingpage__button--desktop {
        display: none;
    }
    .landingpage__button--mobile {
        display: block;
    }
    .landingpage__logo-container, .landingpage__content {
        text-align: center;
    }
    .landingpage__section {
        display: initial;
    }
    .landingpage__content {
        padding: 0px 24px;
    }
    .landingpage__demo {
        text-align: center;
        padding-top: 16px;
        img {
            width: 80%;
        }
    }
    .green-btn--mobile {
        margin-left: auto;
        margin-right: auto;
    }
}
