#landingpage {
    background-color: $background;
    height: 100vh;
    width: 100vw;
}

.landingpage__image--logo {
    height: 100px;
}

.landingpage__section {
    margin: 0 auto;
    text-align: center;
}

.landingpage__headline {
    letter-spacing: 0.1rem;
}

.landingpage__content {
    color: #FFF;
}

.landingpage__button--green {
    padding: 8px;
    border: none;
    background-color: $background;
    border: 2px solid #FFF;
    border-radius: 3%;
    color: #FFF;
}

// Default hide all --mobile > modifiers
.landingpage__button--mobile {
    display: none;
}

@include breakpoint(mobileonly) {
    .landingpage__button--desktop {
        display: none;
    }
    .landingpage__button--mobile {
        display: block;
    }
    .landingpage__logo-container, .landingpage__content {
        text-align: center;
    }
    .landingpage__section {
        display: initial;
    }
    .landingpage__content {
        padding: 0px 24px;
    }
    .green-btn--mobile {
        margin-left: auto;
        margin-right: auto;
    }
}
